body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 800px;
  border: 5px solid blue;
}
.row {
  display: flex;
  flex-direction: row;
}
.element {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}
.column {
  display: flex;
  flex-direction: column;
}
#main_element {
  width: 400px;
  height: 400px;
}
img {
    width: 100%;
    height: 100%;
}
